 ------
 ${project.name}
 ------

${project.name}

 <<<${project.artifactId}>>> is an archetype which generates a Parent root module project:

+----+

project
|-- pom.xml


+----+

* Usage

 To generate a new project from this archetype, type:

+----+

mvn archetype:generate -DarchetypeGroupId=${project.groupId} -DarchetypeArtifactId=${project.artifactId} -DarchetypeVersion=${project.version}

+----+
